<header class='main-header'>
  <nav class='main-navigation'>
    <ul class='site-navigation'>
      <a href="#main" class="main-logo"><img src="../../assets/rennit_logo.png" alt="rennit-logo" width="144" height="56"></a>
      <li class='site-navigation-item'><a routerLink="about">about us</a></li>
      <li class='site-navigation-item'><a routerLink="">apartments</a></li>
      <li class='site-navigation-item'><a routerLink="application">application</a></li>
      <li class='site-navigation-item'><a routerLink="payment">make a payment</a></li>
      <li class='site-navigation-item'><a routerLink="contact">contact us</a></li>
      <li class='user-navigation-item'><a routerLink="favorites">my favorites</a></li>
      <li class='user-navigation-item'><a routerLink="auth/login">login</a><span>&nbsp;/&nbsp;</span><a routerLink="auth/register">register</a></li>
    </ul>
  </nav>
</header>
