//FOOTER!!!
footer {
  width: 100%;
  background: #454545 url('../../assets/footer_background.png') bottom center no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  vertical-align: top;
  align-items: flex-end;

  div,nav {
    margin-top: 40px;
  }


  .footer-rights * {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;

    span {
      text-transform: uppercase;
    }
  }

  .footer-navigation-item {

    a {
      text-transform: uppercase;
      font-size: 14px;
      color: #ffffff;
      font-weight: 500;
      line-height: 28px;
    }

    a:hover, a:focus {
      text-decoration: underline;
      text-decoration-color: white;
    }
  }

  .footer-navigation li {
    list-style: none;
  }

  .footer-contact-main *{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
  }
  .footer-newsletter {
    color: #ffffff;
    font-size: 0;
    font-weight: 500;
    line-height: 28px;

    h3 {
      font-size: 15px;
      text-transform: uppercase;
    }
    input {
      width: 240px;
      height: 100%;
      box-sizing: border-box;
      padding-top: 18px;
      padding-bottom: 18px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 0;
    }

    input::placeholder {
      font-size: 12px;
      color: #4c4c4c;
      text-transform: uppercase;
      font-weight: 500;
      padding-left: 30px;
    }

    button {
      border: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 100%;
      padding-top: 14px;
      padding-bottom: 14px;
      width: 50px;
      background-color: #111111;
      font-size: 20px;
      text-align: center;
      vertical-align: top;
      color: #bfac82;
      font-weight: bolder;
    }
    button:focus,button:hover{
      background-color: #2e2b89;
    }
  }
}


//MOBILE
@media (max-width:1250px){
  .footer {
    display: block;
    padding: 38px 6% 25px;
    width: 100%;
    margin: 0 auto;
    div,nav {
      margin-top: 0;
    }

    .footer-rights {
      margin-top: 0;
      width: 50%;
      p {
        font-size: 11.2px;
        font-weight: bold;
      }
    }
  }

  .footer-navigation {
    width: 50%;
    ul {
      padding-inline-start: 0;
    }
  }

  .footer-navigation-item {
    display: inline-block;
  }

  .footer-navigation-item:nth-of-type(even){
    float: right;
  }

  .footer-navigation-item:nth-of-type(odd) {
    padding-right: 30px;
  }
}
