<!-- Main block -->
<main class='container-block'>
  <h1 class="visually-hidden">Rennit your new home</h1>

  <article class="apartments">
    <h2 class="visually-hidden">apartments info</h2>

    <section class='apartments-preview'>
      <h2 class="visually-hidden">apartments preview</h2>
      <img src="../../assets/apartment_main.jpg" alt="apartments-main">
      <p>
        <!-- 3D View at end! -->
        <img src="../../assets/apartment_secondary.png" alt="apartments-preview">
      </p>
      <h2 class='visually-hidden'>apartments comfort</h2>
      <h3>amenities:</h3>
      <div>
        <ul class="apartments-comfort-list">
          <li class='apartments-comfort-item deck'>Roof-deck</li>
          <li class='apartments-comfort-item dishwasher'>Dishwasher</li>
          <li class='apartments-comfort-item laundry'>Laundry</li>
          <li class='apartments-comfort-item forest'>Building Outdoor Space</li>
        </ul>
      </div>
    </section>

    <section class='apartments-details'>
      <h2>apartments details</h2>
      <div class='apartments-details-price'>
        <p>
          <b>$2,200&nbsp;</b>
          <span>(mountly rent)</span>

        </p>
        <p>
          112 walton street, apt 1A<br>
          <b>williamsburg ny 11206</b>
        </p>
      </div>

      <div class='apartments-details-options'>
        <p>
          <span>no brokers fee</span>
        </p>
        <div>
          <ul class='apartments-details-list'>
            <li class='apartments-details-item'>2 beds</li>
            <li class='apartments-details-item'>1 beds</li>
          </ul>
        </div>
        <div>
          <ul class='apartments-feature-list'>
            <li class='apartments-feature-item'>
              <img src="../../assets/tram_icon.png" alt="tram-icon">
            </li>
            <li class='apartments-feature-item'>1</li>
            <li class='apartments-feature-item'>2</li>
            <li class='apartments-feature-item'>3</li>
            <li class='apartments-feature-item'>4</li>
            <li class='apartments-feature-item'>5</li>
            <li class='apartments-feature-item'>A</li>
            <li class='apartments-feature-item'>C</li>
          </ul>
        </div>
      </div>

      <div class='apartments-description'>
        <h4>apartment description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A error explicabo vero voluptate vel id aut at aliquid praesentium voluptas accusamus magni quo eius, omnis porro maxime, ipsam quidem voluptatem debitis accusantium rem sit
          harum amet nam. Pariatur maxime at rem nemo magnam possimus excepturi, repellat corporis iusto quia atque!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, temporibus excepturi blanditiis necessitatibus voluptate maxime itaque, sit sequi a consequatur nobis aliquam assumenda iusto sed error ratione minus facere sunt.</p>
      </div>

    </section>
  </article>

  <hr>
  <!-- Feedback section -->
  <section class='feedback'>
    <h2 class='visually-hidden'>agent details</h2>
    <div class='feedback-agent'>
      <h3>listing agent</h3>
      <a href="#main"><img src="../../assets/rennit_logo.png" alt="rennit-logo"></a>
    </div>

    <div class='feedback-contact'>
      <h2><b>moses stark</b></h2>
      <h3><b>inquire about this listing</b></h3>
      <a href="email:Moishe@Rennit.nyc">Moishe@Rennit.nyc</a>
      <a href="tel:3475983934">347.598.3934</a>
    </div>

    <div class='feedback-btn'>
      <a href="#" class='btn btn-darkgold'>apply now</a>
    </div>

  </section>
  <hr>

  <!-- neighborhood section -->
  <section class='neighborhood'>
    <h2 class='visually-hidden'>apartments neighborhood</h2>
    <h3>apartments near by</h3>
    <ul class='neighborhood-list'>
      <li class='neighborhood-list-item'>
        <div class="item-container">
          <span class='neighborhood-item-description'>Utamur fuisset</span>
          <span class='neighborhood-item-price'>$ 1,889</span>
          <a href="#" class='neighborhood-item-favorites'><img src="../../assets/favorites_star.png" alt="add to favorites" width="26" height="24"></a>
          <img src="../../assets/apartment_neiberhood_1.jpg" alt="neighborhood image" width="309" height="244">
        </div>
        <ul>
          <li><span>2 beds</span></li>
          <li><span>1 beds</span></li>
        </ul>
      </li>
      <li class='neighborhood-list-item'>
        <div class="item-container">
          <span class='neighborhood-item-description'>Utamur fuisset</span>
          <span class='neighborhood-item-price'>$ 1,889</span>
          <a href="#" class='neighborhood-item-favorites'><img src="../../assets/favorites_star.png" alt="add to favorites" width="26" height="24"></a>
          <img src="../../assets/apartment_neiberhood_2.jpg" alt="neighborhood image" width="309" height="244">
        </div>
        <ul>
          <li><span>2 beds</span></li>
          <li><span>1 beds</span></li>
        </ul>
      </li>
      <li class='neighborhood-list-item'>
        <div class="item-container">
          <span class='neighborhood-item-description'>Utamur fuisset</span>
          <span class='neighborhood-item-price'>$ 1,889</span>
          <a href="#" class='neighborhood-item-favorites'><img src="../../assets/favorites_star.png" alt="add to favorites" width="26" height="24"></a>
          <img src="../../assets/apartment_neiberhood_3.jpg" alt="neighborhood image" width="309" height="244">
        </div>
        <ul>
          <li><span>2 beds</span></li>
          <li><span>1 beds</span></li>
        </ul>
      </li>
      <li class='neighborhood-list-item'>
        <div class="item-container">
          <span class='neighborhood-item-description'>Utamur fuisset</span>
          <span class='neighborhood-item-price'>$ 1,889</span>
          <a href="#" class='neighborhood-item-favorites'><img src="../../assets/favorites_star.png" alt="add to favorites" width="26" height="24"></a>
          <img src="../../assets/apartment_neiberhood_4.jpg" alt="neighborhood image" width="309" height="244">
        </div>
        <ul>
          <li><span>2 beds</span></li>
          <li><span>1 beds</span></li>
        </ul>
      </li>
    </ul>

  </section>

</main>

<!-- Contact Block -->
<section class='contact'>
  <h2 class='visually-hidden'>contact block</h2>
  <p><b>Don't see the apartment you are dreaming of? We can help!</b></p>
  <p>
    <a href="#" class='btn'>contact us</a>
  </p>
</section>
