<header>
  <section class="navigation">
    <h2 class="visible-hidden">Navigation section</h2>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Rennit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about">about us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="">apartments<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="application">application</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="payment">make a payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">contact us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="favorites">my favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/login">login/</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/register">register</a>
        </li>
      </ul>
    </div>
  </nav>
  </section>
</header>
<router-outlet></router-outlet>
<section class="feedback">
  <h2 class="visible-hidden">Feed back</h2>
  <p>
    <b>Don't see the aparment you are dreaming of? We can help!</b>
  </p>
  <p>
    <a class='btn btn-light' routerLink="contact">
      <b>contact us</b>
    </a>
  </p>
</section>
<footer>
  <section class="bottom-menu">
    <h2 class="visible-hidden">Bottom menu</h2>
    <div class="bottom-menu__logo">
      <img src="" alt="Rennit bottom logo">
      <p>
        copyright 2019 rennit NYC. all rights reserved
      </p>
    </div>
    <div class="bottom-menu__links">
      <p>
        <a routerLink="">apartments</a>
      </p>
      <p>
        <a routerLink="application">application</a>
      </p>
      <p>
        <a routerLink="payment">make a payment</a>
      </p>
      <p>
        <a routerLink="contact">contact us</a>
      </p>
    </div>
    <div class="bottom-menu__social">
      <p>Email: <a href="email:Moiche@Rennit.nyc">Moiche@Rennit.nyc</a></p>
      <p>Phone: <a href="tel:3475983934">347.598.3934</a></p>
      <p>
        <img src="" alt="twitter">
        <img src="" alt="instagramm">
        <img src="" alt="facebook">
        <img src="" alt="linkedin">
      </p>
    </div>
    <div class="bottom-menu__subscribe">
      <p>newsletter subscription</p>
      <input type="text" /><button>></button>
    </div>
  </section>
</footer>
